<%- include('header') %>


    <div class="gameArea">
        <div class="row">
            <a href="/play/stone">
                <div class="option stone" onclick="play('stone')">
                    <img src="/rock.png"/>
                </div>
            </a>
            <a href="/play/paper">
                <div class="option paper" onclick="play('paper')">
                    <img src="/paper.png"/>
                </div>
            </a>
        </div>
        <div class="row">
            <a href="/play/scissor">
                <div class="option scissor" onclick="play('scissor')">
                    <img src="/scissors.png"/>
                </div>
            </a>
        </div>
    </div>

</div>

<script>

    const play = async (hand)=>{
        const url="/play";
        const options={
            method:"POST",
            body:JSON.stringify({hand}),
            headers:{'Content-Type':"application/json"},
        };
        await fetch(url,options);
    }

</script>

<%- include("footer") %>