<%- include('header') %>
    <div class="gameArea">
        <div class="row res">
            
            <div class="picked">
                <div class="pickedText">YOU PICKED</div>

                <% if(user.toUpperCase()== "ROCK" ){ %>
                    <div class="option stone">
                        <img src="/rock.png"/>
                    </div>
                <% }else if(user.toUpperCase() == "PAPER"){ %>
                    <div class="option paper">
                        <img src="/paper.png"/>
                    </div>
                <% } else if(user.toUpperCase() == "SCISSOR"){%>
                    <div class="option scissor">
                        <img src="/scissors.png"/>
                    </div>
                <%}%>
            </div>

            <div class="result">
                <div class="textResult">
                    YOU
                    <% if(state==1) {%>
                        WON
                    <% } else if(state==-1) {%>
                        LOSE
                    <% } else if(state==0) {%>
                        TIED
                    <%}%>
                </div>
                <a href="/"><div class="again">PLAY AGAIN</div></a>
            </div>

            <div class="picked">
                <div class="pickedText">THE HOUSE PICKED</div>

                <% if(house.toUpperCase()== "ROCK" ){ %>
                    <div class="option stone wait">
                        <img src="/rock.png"/>
                    </div>
                <% }else if(house.toUpperCase() == "PAPER"){ %>
                    <div class="option paper wait">
                        <img src="/paper.png"/>
                    </div>
                <% } else if(house.toUpperCase() == "SCISSOR"){%>
                    <div class="option scissor wait">
                        <img src="/scissors.png"/>
                    </div>
                <%}%>
            </div>

        </div>
        <div class="resultM">
            <div class="textResult">
                YOU
                <% if(state==1) {%>
                    WON
                <% } else if(state==-1) {%>
                    LOSE
                <% } else if(state==0) {%>
                    TIED
                <%}%>
            </div>
            <a href="/"><div class="again">PLAY AGAIN</div></a>
        </div>
</div>



<%- include("footer") %>